.progressBar {
    animation: progressBar 15s linear forwards;
}

@keyframes progressBar {
    0% {
        width: 100%;
        background-color: rgb(37 99 235);
    }
    70%,
    78%,
    86% {
        background-color: rgb(37 99 235);
    }
    74%,
    82%,
    90% {
        background-color: red;
    }
    98%,
    100% {
        width: 0%;
        background-color: rgb(37 99 235);
    }
}
