@keyframes snake {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.animateSnake {
    animation: snake 2s infinite ease-in-out;
}

.slidingButton {
    display: inline-block;
    text-decoration: none;
    position: relative;
    isolation: isolate;
}

.slidingButton::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--button-color);
    inset: 0;

    scale: 0 1;
    transform-origin: left;
    transition: scale 450ms;
}

.slidingButton:hover::after,
.slidingButton:focus-visible::after {
    transform-origin: right;
    scale: 1 1;
}